<app-navbar></app-navbar>
<div class="home-container">
    <div class="main-content animate_animated animate_fadeInUp">

        <div class="main-content animate_animated animate_fadeInUp">

            <div class="thumb-container">
                <img src="../assets/webdevelopment.jpg" alt="Profile Image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p>Project:1 (Portfolio Website)</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, totam veniam error esse odit
                saepe, inventore accusamus doloribus, enim iste debitis obcaecati omnis dignissimos placeat eius labore
                facilis quis repellendus! Libero, modi suscipit quas mollitia repellat fugiat id sint, nostrum, at
                deserunt vel eligendi? Fugit neque nulla perspiciatis repellat. Deserunt, tenetur odio ea repellat saepe
                dolore obcaecati veritatis, fuga illum vero autem velit molestias pariatur optio porro sunt accusantium
                eius nulla officia distinctio unde sapiente culpa. Maxime rerum in iste quo at accusamus quis
                perspiciatis recusandae ratione excepturi vitae, culpa saepe eveniet? Eaque, qui ut odit voluptates nisi
                rerum repudiandae eveniet aliquam delectus placeat! Delectus ipsam sed quidem numquam. Expedita nulla </p>
                
        </div>
    </div>
    <div id="skills-selection" class="skills-selection animate_animated animate_fadeInUp">
        <p style="font-size: 25px;color:#6b08a6 ;">My Skills</p>
    </div>
    <div class="card-container">
        <mat-card class="example-card animate_animated animate_fadeInUp">
            <mat-card-header class="row align-items-center">
                <p style="color:#6b08a6 ;">Angular</p>

    </mat-card-header>
  <img mat-card-image src="../assets/angular.png" alt="Image">
  <mat-card-content>
    <p>Helps developers build Dynamic ,Single Page Web Application</p>
  </mat-card-content>
  <button>Know More...</button>
        </mat-card>

<mat-card class="example-card animate_animated animate_fadeInUp">
    <mat-card-header class="row align-items-center">
        <p style="color:#6b08a6">React JS</p>
    </mat-card-header>
    <img mat-card-image src="../assets/react.png" alt="Image">
    <mat-card-content>
        <p>JS library for building user interface,particularly for SPA's.</p>
    </mat-card-content>
    <button>Know More..</button>
    </mat-card>

    <mat-card class="example-card animate_animated animate_fadeInUp">
        <mat-card-header class="row align-items-center">
            <p style="color:#6b08a6">Java</p>
        </mat-card-header>
        <img mat-card-image src="../assets/image-java.webp" alt="Image">
        <mat-card-content>
            <p>Java Is Designed to be platform-independent</p>
        </mat-card-content>
        <button>Know More..</button>
        </mat-card>
    </div>
</div>
<app-footer></app-footer>