.home-container{
    text-align: center;
    padding: 50px;
    background-color: #c1ecff;
    font-family: "Lobster" ,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.thumb-container{
    overflow: hidden;
    border-radius: 20px;

}
.thumb-image{
    width:600px;
    height:300px;
    object-fit: cover;

}
.image-container{
    flex:1;
}
.image-container img{
    max-width: 100px;
    border-radius: 10px;
}
.text-container h1{
    font-size: 2.5em;
    color:#333;
}
.text-container p{
    font-size: 1.2em;
    color:#555;
}
.animate_fadeInLeft{
    animation-name: fadeInLeft;
}
.profile-image{
    width:300px;
    height: 300px;
}
.align-items-container{
    justify-content: center;
    text-align: center;
}
h1{
    font-size: 2.5em;
    margin-bottom: 20px;
    color:#333
}
p{
    font-size: 1.2m;
    color:#555;
}
.card-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    font-family: "Lobster",sans-serif;
    font-weight: 400;
    font-style: normal;
}
.example-card{
    max-width: 300px;
    transition: transform 0.6s ease;
}
.example-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.example-header-image{
    background-size: cover;
}
button{

    background-color: #6b08a6;
    color:white;
    padding: 10px 15px;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}