/* You can add global styles to this file, and also import other style files */
/* h1{
    background-color: yellow;
    text-align: center;
    text-decoration: underline;
 }  */
 .active{
    background-color: green;
    color:antiquewhite;

 }
 .home{
    font-weight: bold;
    padding:3px;
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
